<h1>Home Teaching Assignments 
  <span style='font-size:smaller'> (last update <%=TeachingRoute.find(:first).last_update%>) </span>
  &mdash; 
  <%= link_to "update", :action => 'updateRoutes'  %>
</h1>
<table >
  <tr>
    <td bgcolor="#00ff00">This Month</td>
    <td bgcolor="cyan">Last Month</td>
    <td bgcolor="yellow">Two Months Ago</td>
  </tr>
</table>
<br>
<div style = "font:85% sans-serif;" >
  <form>
    Quick Search &mdash;
    <input name="quickSearch" onkeyup="filterTable(this, 'filterable', 1,3)" type="text">
  </form>
</div>
<br>
<table id = 'filterable' class='sorttable resizable'>
  <thead>
  <tr>
    <th>Quorum</th>
    <th>Family</th>
    <th>Last Visit</th>
    <th>Home Teacher</th>
  </tr>
  </thead>

<% @teaching_routes.each do |route| %>
  <tr class="<%=cycle('list-line-odd','list-line-even')%>"> 
    <td><%=h route.category %></td>
    <td class='cell' onclick = "window.location.href='<%= family_path(route.family) %>'">
      <div class='hide'>
        <%=h route.family.name + ", " + route.family.head_of_house_hold %>
      </div>
    </td>
    <% lastEvent = getLastHomeTeacherVisit(route.family) %>
    <td sorttable_customkey="<%= getHomeTeachingVisitDateSortable(lastEvent)%>"
        bgcolor=<%= getLastHomeTeacherVisitColor(lastEvent) %> >
      <div>
        <%= getHomeTeachingVisitDate(lastEvent) %>
      </div>
    </td>
    <td class='cell' onClick = "window.location.href='<%= "/teaching_routes/teacherList?id=" + route.person.id.to_s %>'">
      <%=h route.person.name + " " + route.person.family.name %>
    </td>
  </tr>
<% end %>
</table>

<br />
