<h1><%= @homeTeacher.name + " " + @homeTeacher.family.name %>  
  Home Teaching Assignments</h1>

<table class = 'sortable resizable'>
  <thead>
    <tr align="left">
      <th>Name**</th>
      <th>Status**</th>
      <th padding='10px'>Last&nbsp;Visit**</th>
      <th class='nosort'>Comment</th>
    </tr>
  </thead>
  <tbody>

    <% @families.each do |family| %>
      <% lastVisit = getLastHomeTeacherVisit(family) %>
    <tr class="<%=cycle('list-line-odd','list-line-even')%>" 
      onClick = "window.location.href='<%= family_path(family) %>'" >
      <td>
        <%=h family.name %>, <%=h family.head_of_house_hold %></td>
      <td bgcolor=<%=statusColor(family.status)%>>
        <%=h family.status %></td>
      <td sorttable_customkey="<%=getLastVisitDateSortable(family)%>">
        <%= lastVisit.date if lastVisit %></td>
      <td>
        <%= lastVisit.comment if lastVisit  %></td>
    </tr>
  <% end %>
</tbody>
</table>

<br />
<br />
<br />
