<p>
  <b>Job:</b>
  <%= @calling.job %>
</p>

<p>
  <b>People:</b>
<ul>
<% @calling.people.each do |person| %>
  <li><%= link_to person.full_name, person_path(person) %></li>
<% end %>
</ul>
</p>

<p>
  <b>Access level:</b>
  <%= @calling.access_level %>
</p>


<%= link_to 'Edit', edit_calling_path(@calling) %> |
<%= link_to 'Back', callings_path %>
