<h1>Editing companionship</h1>

<% form_for(@companionship) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :person1 %><br />
    <%= f.text_field :person1 %>
  </p>
  <p>
    <%= f.label :person2 %><br />
    <%= f.text_field :person2 %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @companionship %> |
<%= link_to 'Back', companionships_path %>