<h1>Listing companionships</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Person1</th>
    <th>Person2</th>
  </tr>

<% @companionships.each do |companionship| %>
  <tr>
    <td><%=h companionship.type %></td>
    <td><%=h companionship.person1 %></td>
    <td><%=h companionship.person2 %></td>
    <td><%= link_to 'Show', companionship %></td>
    <td><%= link_to 'Edit', edit_companionship_path(companionship) %></td>
    <td><%= link_to 'Destroy', companionship, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New companionship', new_companionship_path %>