<h1>Editing person</h1>

<%= form_for(@person) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :family_id %><br />
    <%= f.text_field :family_id %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
  <%= f.label :callings %><br />
  <ul>
    <%= f.fields_for :calling_assignments do |builder| %>
      <% unless builder.object.id.nil? %>
        <li><%= builder.object.calling.job %> <small><%= builder.label :_destroy, "Release" %></small><%= builder.check_box :_destroy %></li>
      <% end %>
    <% end %>
  </ul>
  <%= link_to_add_calling "Assign another calling", f, :calling_assignments %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @person %> |
<%= link_to 'Back', people_path %>
