<h1>Listing people</h1>

<div style = "font:85% sans-serif;" >
  <form>
    Quick Search &mdash;
    <input name="quickSearch" onkeyup="filterTable(this, 'filterable', 0,1)" type="text">
  </form>
</div>
<br>

<table id = 'filterable' class='sortable resizable'>
  <thead>
  <tr>
    <th>Name</th>
    <th>Family</th>
    <th>Email</th>
    <th class='nosort'>&nbsp;</th>
  </tr>
  </thead>

<% @people.each do |person| %>
  <tr>
    <td><%=h person.name %></td>
    <td><%=h person.family.name %></td>
    <td><%=h person.email %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New person', new_person_path %>
