<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Family:</b>
  <%= @person.family.name %>
</p>

<p>
  <b>Phone:</b>
  <%= @person.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @person.email %>
</p>

<p>
<b>Callings:</b>
<ul>
  <% @person.callings.each do |calling| %>
    <li><%= calling.job %></li>
  <% end %>
</ul>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
