<% archivedList ||= false %>

<table class = 'sorttable resizable'>
  <thead>
  <tr align="left">
    <th width="150">Family</th>
    <th width="75">Type</th>
    <th width="70">Lessons taught</th>
    <th width="70">Last lesson</th>
    <th width="340">Action Items</th>
    <th width="200">Next Milestone</th>
  </tr>
</thead>
<tbody>
<% teaching_records.each do |teaching_record| %>
  <% clickToFam = "onClick = \"window.location.href='#{family_path(teaching_record.family)}'\"" %>
  <% family = teaching_record.family %>
  <% status = getTeachingRecordStatus(teaching_record) %>

  <tr class="<%=cycle('list-line-odd','list-line-even')%>" > 
    <td <%= clickToFam %> >
      <%=h family.name + ", " + family.head_of_house_hold  %> </td>
    <td <%= clickToFam %> bgcolor="<%= statusColor(status) %>">
      <%=h status %> </td>
    <td <%= clickToFam %> ><%=h getLessonsTaught(teaching_record.family) %></td>
    <td sorttable_customkey="<%=h getLastVisitDateSortable(teaching_record.family)%>"
      <%= clickToFam %> >
      <%=h getLastVisitDate(teaching_record.family) %></td>
    <td <%= clickToFam %>>
        <%= render(:partial => 'action_items/action_item', :collection => family.open_action_items, 
                   :locals => {:ward_representative => true}) %>
    </td>
    <td <%= clickToFam %>>
      <%=h teaching_record.membership_milestone %> 
      <% if teaching_record.milestone_date_goal != nil %>
        (<%=h teaching_record.milestone_date_goal %>) 
      <% end %>
    </td>

  <% if archivedList %>
    <td> <%= link_to 'restore', :controller => 'teaching_records', 
                                :action => "archive", :id => teaching_record, 
                                :restore => 'true' %></td>
  <% end %>
  </tr>
<% end %>
</table>
