<% events ||= Array.new %>
<% if teaching_record != nil %>
  <li> <a href ='#' class = 'subtile-links' onclick="Effect.toggle('teaching-record', 'blind');
      return false;">Teaching Record </a> 
    <div id="teaching-record" class="teaching-record">
      <div>

<fieldset>
  <legend>General Info</legend>
  <% form_for(teaching_record) do |f| %>
    <%= f.error_messages %>

    <% if !teaching_record.current %>
      <b>
      This record has been dropped and is no longer part of the ward teaching pool.<br>
      If you would like to restore it please check the box and press update
      <br> <br>
      <%= f.check_box :current  %> Restore
      </b>
      <br> <br>

    <% end %> 
    <p>
      Responsible Organization:
      <%= f.select :organization, wardOrganizations, :default => "Ward Mission" %> 
      &nbsp; &nbsp; &nbsp; 
      Category:
      <%= f.select :category, teachingRecordStatus, :include_blank => true %> <br />
    </p>
    <p>
      Fellowshipper:
      <%= f.select :person_id, @fellowShippers, :include_blank => true %> <br />
    </p>
    <p>
      Next Milestone Goal:
      <%= f.select :membership_milestone, memberMilestones  %>
      Goal Date:
      <%= f.date_select :milestone_date_goal, :include_blank => true, :discard_year => true %>
    </p>
    <p>
      <%= f.submit 'Update' %>
    </p>
  <% end %>
</fieldset>
<br>
<fieldset>
  <legend>Missionary Lessons</legend>
  <%= render(:partial =>'teaching_records/teaching_record_events', 
             :collection => lessons) %>

<% if events.find_by_category("Baptized") %>
  <br>
  <span class='hoverme' onclick="Element.toggle('before_baptism');return true;">
    Lessons Before Baptism:
  </span>
  <br>
  <div id='before_baptism' style='display:none'>
    <%= render(:partial =>'teaching_records/teaching_record_events', 
               :collection => lessons,
               :locals => {:showBeforeBaptism => true}) %>
  </div>
<% end %>
</fieldset>
<br>
<fieldset>
  <legend>Member Milestones</legend>
  <%= render(:partial =>'teaching_records/teaching_record_events', 
             :collection => memberMilestones) %>
</fieldset>
<br>

      </div>
    </div>
  </li>
<% end %> 
