<h1>Editing Teaching Record</h1>

<% form_for(@teaching_record) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.select :family_id, @families %>

    <%= f.label :Type %>
    <%= f.select :category, teachingRecordCategories %>

    <%= f.label :fellowshipper %>
    <%= f.select :person_id, @fellowShippers, :include_blank => true %> <br />

  </p>
  <p>
    <% #TODO Make this a series of check boxes %>
    <%= f.label :lessons_taught %>
    <%= f.text_field :lessons_taught %>
  &nbsp; &nbsp;
  Last lesson 
  <%=h getLastVisitDate(@teaching_record.family) %>
  &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= f.label :next_lesson %>
    <%= f.date_select :next_lesson, :include_blank => true, :discard_year => true %>
  </p>
  <p>
    Next Milestone Goal
    <%= f.select :membership_milestone, memberMilestoneCategories, {:selected => "Baptism"} %>
    Goal Date:
    <%= f.date_select :milestone_date_goal, :include_blank => true, :discard_year => true %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @teaching_record %> |
<%= link_to 'Back', teaching_records_path %>
