<h1>Teaching Pool</h1>
<p>
  <%= link_to 'New teaching_record', new_teaching_record_path %>
</p>

<% @records.each do |organization| %>
  <fieldset class="depot-form">
    <legend><%= organization[0] %></legend>
    <div id = <%= organization[0] %> >
      <%= render(:partial => 'teaching_records', :object => organization[1]) %>
    </div>
  </fieldset>
  <br>
<% end %>
<br />
<div id='archived-records'>
  <%= link_to_remote "Dropped Records", :url => {:controller => "teaching_records",  :action => 'listArchived'} %>
</div>
