<h1>Teaching Pool &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
  <div id='actionButtons'>
    <%= button_to_function 'New Teaching Record', "location.href='#{new_teaching_record_path}'" %>
  </div>
</h1>
<% @records.each do |organization| %>
  <fieldset class="depot-form">
    <legend><%= organization[0] %>  (<%= organization[1][0].getLeaderName %>) </legend>
    <div id = <%= organization[0] %> >
      <%= render(:partial => 'teaching_records', :object => organization[1]) %>
    </div>
  </fieldset>
  <br>
<% end %>
<br />
<div id='archived-records' class = "noPrint">
  <%= link_to "Dropped Records", :url => {:controller => "teaching_records",  :action => 'listArchived'}, :remote => true %>
</div>
