<h1>New Teaching Record</h1>

<div class='teaching-record'>
<fieldset>
  <legend>General Info</legend>
  <% form_for(@teaching_record) do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :family_id %><br />
      <%= f.select :family_id, @families, :include_blank => true %> <br />
    </p>
    <p>
      Responsible Organization:
      <%= f.select :organization, wardOrganizations, :default => "Ward Mission" %> 
      &nbsp; &nbsp; &nbsp; 
      Category:
      <%= f.select :category, teachingRecordStatus, :include_blank => true %> <br />
    </p>
    <p>
      Fellowshipper:
      <%= f.select :person_id, @fellowShippers, :include_blank => true %> <br />
    </p>
    <p>
      Next Milestone Goal:
      <%= f.select :membership_milestone, memberMilestones  %>
      Goal Date:
      <%= f.date_select :milestone_date_goal, :include_blank => true, :discard_year => true %>
    </p>
    <p>
      <%= f.submit 'Create' %>
    </p>
  <% end %>
</fieldset>
<br>
<br>
</div>
<%= link_to 'Cancel', teaching_records_path %>
