<% if update %>
    <%= form_for @family, :url => { :controller => "families", :action => "edit_status"}, :remote => true do |f| %>
    <%= f.error_messages %>
      <% if @family.member == false %>
        <%= f.select :status, nonmemberType %>
      <% else %> 
        <%= f.select :status, memberStatus %>
      <% end %>
      &nbsp;
      <%= f.submit 'Update' %>
      <%= link_to 'cancel', "", {:style=>'text-decoration:underline'}%>
  <% end %>
<% else %>
  <span style='background-color: <%= statusColor(@family.status) -%>'>
      <%= link_to @family.status, :url => {:action => 'edit_status',
                                              :id => @family,
                                              :remote => true} %>&nbsp;
  </span>
<% end %>
