<li> 
  <a href='#' class = 'subtile-links' onclick="Effect.toggle('family-details', 'blind'); return false;">Family Details </a>
  <div id="family-details" style = 'display:none'>
    <div>
      <table style='border:none'>
        <tr>
          <td style='border:none'>
            <%= @family.head_of_house_hold %>
            <ul id='nodot'>
              <li>
                <% @family.people.each do |member| %>
                  <% if member.current == true %>
                    <%= member.name -%> 
                    <% if member.email != nil %> 
                      &mdash; <%= member.email %>
                    <% end %>
                    <br>
                  <% end %>
                <% end %>
              </li>
            </ul>
          </td>
          <td style='border:none'>&nbsp;&nbsp;&nbsp;</td>
          <td style='border:none'>
            <%= @family.phone %><br>
            <p>
              <%= displayAddress(@family.address) %><br>
            </p>
          </td>
          <td style='border:none'>&nbsp;&nbsp;&nbsp;</td>
          <td style='border:none'> 
            <% @family.teaching_routes.each do |teacher| %>
              Home Teacher: <%= teacher.person.name + " " + teacher.person.family.name %> <br>
            <% end %>
          </td>
        </tr>
      </table>
      <p>
        <b>Status:</b>
        <div id='family_status' class='editable_comment'>
          <%= render(:partial => "family_status", 
                     :object => @family, 
                     :locals => {:update => nil}) %>
                   </div>
                 </p>

                 <p>
                   <b>Information:</b> <br />
                   <div id="comments">
                     <%= render(:partial => "comments/comment", :collection => @family.comments) %>
                   </div>
                 </p>
                 <br>

                 <div id="new comment" class ="noPrint">
                   <%= render(:partial => "submit_button") %>
                 </div>

                 <br><br>
                 <% unless @family.member %>
                   <%= link_to 'Edit family details', edit_family_path(@family) %>
                   <br><br>

                   <%= link_to 'Merge records', :controller => 'families', 
                     :action => 'mergeRecords', 
                     :family => @family %> 
                     <br><br><br>                                     

                   <% end %>
                 </div>
               </div>
             </li>
