<li> 
  <a href='#' class = 'subtile-links' onclick="Effect.toggle('family-details', 'blind'); return false;">Family Details </a>
  <div id="family-details" class="family_details">
    <div>
      <table>
        <tr>
          <td >
            <b>Status:</b>
            <span id='family_status' class='editable_comment'>
              <%= render(:partial => "family_status", 
                         :object => @family, 
                         :locals => {:update => nil}) %>
            </span>
          </td>
          <td ></td>
          <td ></td>
       </tr>
        <tr>
          <td > 
            <%= @family.head_of_house_hold %>
            <ul class='nodot'> <li>
              <% @family.people.each do |member| %>
                <% if member.current == true %>
                  <%= member.name -%> 
                  <% if member.email != nil %> 
                    &mdash; <%= member.email %>
                  <% end %>
                  <br>
                <% end %>
              <% end %> </li> 
            </ul>
          </td>
          <td > 
            <% if @family.phone != ""%>
              <%= @family.phone %><br><br>
            <% end %>
              <%= displayAddress(@family.address) %>
          </td>
          <td >
            <% if @family.teaching_routes.size == 0 %>
              <b>Home Teachers have not been <br>
                 assigned to this family</b>
            <% else %>
              <% @family.teaching_routes.each do |teacher| %>
                Home Teacher: <%= teacher.person.name + " " + teacher.person.family.name %> <br>
              <% end %>
            <% end %>
          </td>
        </tr>
      </table>
        <b>General Information:</b> 
        <span id="comments">
          <%= render(:partial => "comments/comment", :collection => @family.comments) %>
        </span>
      <div id="new comment" class ="noPrint">
        <%= render(:partial => "submit_button") %>
        <br>
        <% unless @family.member %>
          <%= link_to 'Edit family details', edit_family_path(@family) %><br>
          <br>
          <%= link_to 'Merge records', :controller => 'families', 
            :action => 'mergeRecords', 
            :family => @family %><br>
            <br><br>                                     
        <% end %>
      </div>
    </div>
  </div>
</li>
