<h1>Editing family <%= @family.name %> </h1>

<%= form_for(@family) do |f| %>
  <%= f.error_messages %>

  <p>
    <% if @family.member == false %>
      Last Name:
      <%= f.text_field :name %>&nbsp;&nbsp;&nbsp; 
      Head Of Household: 
      <%= f.text_field :head_of_house_hold %> 
    <% else %>
      <%= @family.head_of_house_hold %>
    <% end %>
  </p>
  <p>
    <% if @family.member == false %>
      <%= f.label :phone %> 
      <%= f.text_field :phone %> &nbsp;&nbsp;&nbsp; 
      <%= f.label :address %> 
      <%= f.text_field :address %> 
    <% else %>
      <%= @family.phone %> &nbsp; &nbsp; &nbsp; 
      <%= @family.address %>
    <% end %>
  </p>
  <p>
    <%= f.label :status %><br />
    <% if @family.member == false %>
      <%= f.select :status, nonmemberType %>
    <% else %> 
      <%= f.select :status, memberStatus %>
    <% end %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
