<h1>New family</h1>

<% form_for(@family) do |f| %>
  <%= f.error_messages %>

  <table style="border-style:hidden">
    <tr>
      <td>
        <%= f.label :head_of_house_hold %><br />
        <%= f.text_field :head_of_house_hold %>
      </td>
      <td>
        <%= f.label "Last Name" %><br />
        <%= f.text_field :name %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :phone %><br />
        <%= f.text_field :phone %>
      </td>
      <td>
        <%= f.label :address %><br />
        <%= f.text_field :address %>
      </td>
    </tr>
  </table>
  <p>
  </p>
  <p>
    <%= f.label "Type" %><br />
    <%= f.select :status, nonmemberType %>
    </p>
    <!-- TODO field for comments -->
    <%= f.hidden_field :member, :value => 0 %>
    <%= f.submit 'Create' %>
    <%= link_to 'Cancel', 'investigators' %>
  <% end %>

