<script type="text/javascript">
function toggleDisplay(divId) {
  var div = document.getElementById(divId);
  div.style.display = "none";
}
</script>

<% form_remote_tag :url => {:controller => 'events', :action => 'new_family_event', 
                            :family_id => @family.id } do %>
<h1><%=h @family.name %> Family &nbsp;&nbsp;&nbsp;&nbsp;
  <div style='display:inline' id='shark'> <%= submit_tag "New Event" , {:style => 'padding:1px;',:onclick => "document.getElementById('shark').style.display='none';"} %></div>
</h1>
<% end %>
<div id = 'new-action'> </div>
 
<ul>
  <!-- Family Details -->
  <li> <a href='#' class = 'subtile-links' onclick="Effect.toggle('family-details', 'blind'); return false;">Family Details </a>
    <div id="family-details" style = 'display:none'>
      <div>
        <table style='border:none'>
          <tr>
            <td style='border:none'>
              <%= @family.head_of_house_hold %>
              <ul id='nodot'>
                <li>
                  <% @family.people.each do |member| %>
                    <% if member.current == true %>
                      <%= member.name -%> 
                      <% if member.email != nil %> 
                        &mdash; <%= member.email %>
                      <% end %>
                      <br>
                    <% end %>
                  <% end %>
                </li>
              </ul>
            </td>
            <td style='border:none'>&nbsp;&nbsp;&nbsp;</td>
            <td style='border:none'>
                <%= @family.phone %><br>
              <p>
                <%= displayAddress(@family.address) %><br>
              </p>
            </td>
            <td style='border:none'>&nbsp;&nbsp;&nbsp;</td>
            <td style='border:none'> 
              <% @family.teaching_routes.each do |teacher| %>
                Home Teacher: <%= teacher.person.name + " " + teacher.person.family.name %> <br>
              <% end %>
            </td>
          </tr>
        </table>
        <p>
          <b>Status:</b>
          <div id='family_status' class='editable_comment'>
            <%= render(:partial => "family_status", 
                       :object => @family, 
                       :locals => {:update => nil}) %>
          </div>
        </p>

        <p>
          <b>Information:</b> <br />
          <div id="comments">
            <%= render(:partial => "comment", :collection => @family.comments) %>
          </div>
        </p>
        <br>
        
        <div id="new comment">
            <%= render(:partial => "submit_button") %>
        </div>

      <br><br>
      <% unless @family.member %>
        <%= link_to 'Edit family details', edit_family_path(@family) %>
        <br><br>

        <%= link_to 'Merge records', :controller => 'families', 
                                     :action => 'mergeRecords', 
                                     :family => @family %> 
        <br><br><br>                                     

      <% end %>
      </div>
    </div>
  </li>
  <!-- Teaching Record -->
  <% if @family.teaching_record != nil %>
    <li> <a href ='#' class = 'subtile-links' onclick="Effect.toggle('teaching-record', 'blind');
        return false;">Teaching Record </a> 
      <div id="teaching-record" style = 'display:none'>
        <div>
          <ul>
            <% form_for(@family.teaching_record) do |f| %>
              <%= f.error_messages %>

              <p>
                <%= f.label :fellowshipper %>
                <%= f.select :person_id, @fellowShippers, :include_blank => true %> <br />

              </p>
              <p>
                Lessons Taught:
                <%= @family.teaching_record.lessons_taught %>
                &nbsp; &nbsp;
                Last lesson 
                <%=h getLastVisitDate(@family) %>
                &nbsp; &nbsp; &nbsp; &nbsp; 
                <%= f.label :next_lesson %>
                <%= f.date_select :next_lesson, :include_blank => true, :discard_year => true %>
              </p>
              <p>
                Next Milestone Goal
                <%= f.select :membership_milestone, memberMilestoneCategories  %>
                Goal Date:
                <%= f.date_select :milestone_date_goal, :include_blank => true, :discard_year => true %>
              </p>
              <p>
                <%= f.submit 'Update' %>
              </p>
            <% end %>
          </ul>
        </div>
      </div>
    </li>
  <% end %>

  <!-- Events -->
  <% unless @family.events().empty? %>
    <li> <a href ='#' class = 'subtile-links' onclick="Effect.toggle('family-events', 'blind');
            return false;">Events </a> 
    <div id='family-events'>
      <div>
        <ul>
        <% @family.events.each do |event| %>
          <li>
            <%=h event.date %> &#151;  
            <!-- TODO HACK!! I thnk there's a better rails way of doing this -->
            <% if event.person_id == 1 %>
              <%= "The Hopes" %>
            <% else %>
              <% person = Person.find(event.person_id) %>
              <% if person.name == "Elder and Sister" %>
                <%= person.name + " " + person.family.name %>
              <% else %>
                <%= person.name.split(" ")[0] %>&nbsp;<%= person.family.name %>
              <% end %> 
            <% end %>
            &#151;  
            <%=h event.category %>
            &#151;  
            <%=h event.comment %>
            <% if event.author == session[:user_id] or event.person_id == session[:user_id] %>
              <%= link_to 'Edit',   :controller => 'events', :action => 'edit', :id=> event %>
              <%= link_to 'Delete', :controller => 'events', :action => 'remove', :id=> event %>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </li>
  <% end %>

</ul>

  <br> <br> <br> 
  <br> <br> <br>
  

<% #link_to 'Back', families_path %>
