<% form_remote_tag :url => {:controller => 'events', :action => 'new_family_event', 
                            :family_id => @family.id } do %>
<h1><%=h @family.name %> Family &nbsp;&nbsp;&nbsp;&nbsp;
  <div style='display:inline' id='shark'> <%= submit_tag "New Event" , {:style => 'padding:1px;',:onclick => "document.getElementById('shark').style.display='none';"} %></div>
</h1>
<% end %>
<div id = 'new-action'> </div>
 
<ul>
  <!-- Family Details -->
  <li> <a href='#' class = 'subtile-links' onclick="Effect.toggle('family-details', 'blind'); return false;">Family Details </a>
    <div id="family-details" style = 'display:none'>
      <div>
        <p>
          <b>Status:</b>
          <%=h @family.status %>&nbsp;&nbsp;&nbsp;&nbsp; 
          <b>Head of House Hold:</b>
          <%= (@family.head_of_house_hold) %> &nbsp;&nbsp;&nbsp;&nbsp; 
          <b>Phone:</b>
          <%= (@family.phone) %>&nbsp;&nbsp;&nbsp;&nbsp; 
          <b>Address:</b>
          <%= (@family.address) %>
        </p>
        <p>
        </p>

        <p>
          <b>Information:</b> <br />
            <%= simple_format(@family.information) %>
        </p>
        <br>
      <%= link_to 'Edit family details', edit_family_path(@family) %> 
      <br><br><br>
      </div>
    </div>
  </li>
  <!-- Teaching Record -->
  <% if @family.teaching_record != nil %>
    <li> <a href ='#' class = 'subtile-links' onclick="Effect.toggle('teaching-record', 'blind');
        return false;">Teaching Record </a> 
      <div id="teaching-record" style = 'display:none'>
        <div>
          <ul>
            <% form_for(@family.teaching_record) do |f| %>
              <%= f.error_messages %>

              <p>
                <%= f.label :fellowshipper %>
                <%= f.select :person_id, @fellowShippers, :include_blank => true %> <br />

              </p>
              <p>
                Lessons Taught:
                <%= @family.teaching_record.lessons_taught %>
                &nbsp; &nbsp;
                Last lesson 
                <%=h getLastVisitDate(@family) %>
                &nbsp; &nbsp; &nbsp; &nbsp; 
                <%= f.label :next_lesson %>
                <%= f.date_select :next_lesson, :include_blank => true, :discard_year => true %>
              </p>
              <p>
                Next Milestone Goal
                <%= f.select :membership_milestone, memberMilestoneCategories  %>
                Goal Date:
                <%= f.date_select :milestone_date_goal, :include_blank => true, :discard_year => true %>
              </p>
              <p>
                <%= f.submit 'Update' %>
              </p>
            <% end %>
          </ul>
        </div>
      </div>
    </li>
  <% end %>

  <!-- Events -->
  <% unless @family.events().empty? %>
    <li> <a href ='#' class = 'subtile-links' onclick="Effect.toggle('family-events', 'blind');
            return false;">Events </a> 
    <div id='family-events'>
      <div>
        <ul>
        <% @family.events.each do |event| %>
          <li>
            <%=h event.date %> &#151;  
            <!-- TODO HACK!! I thnk there's a better rails way of doing this -->
            <% if event.person_id == 1 %>
              <%= "The Hopes" %>
            <% else %>
              <% person = Person.find(event.person_id) %>
              <% if person.name == "Elder and Sister" %>
                <%= person.name + " " + person.family.name %>
              <% else %>
                <%= person.name.split(" ")[0] %>&nbsp;<%= person.family.name %>
              <% end %> 
            <% end %>
            &#151;  
            <%=h event.category %>
            &#151;  
            <%=h event.comment %>
            <%= link_to 'Edit',   :controller => 'events', :action => 'edit', :id=> event %>
            <%= link_to 'Delete', :controller => 'events', :action => 'remove', :id=> event %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </li>
  <% end %>

</ul>

  <br> <br> <br> 
  <br> <br> <br>
  

<% #link_to 'Back', families_path %>
