<script type="text/javascript">
function toggleDisplay(divId) {
  var div = document.getElementById(divId);
  div.style.display = "none";
}
</script>

<h1><%=h @family.name %> Family &nbsp;&nbsp;&nbsp;&nbsp;
  <div style='display:inline' id='actionButtons' >
    <%= button_to_remote("New Event", :url => {:controller => 'events', 
                                             :action => 'new_family_event',
                                             :family_id => @family.id},
                                      :loading => "toggleDisplay('actionButtons')")%>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     
    <%= button_to_remote("New Action Item", :url => {:controller => 'action_items', 
                                             :action => 'new_family_action_item',
                                             :family_id => @family.id},
                                      :loading => "toggleDisplay('actionButtons')")%>
  </div>
</h1>

<div id = 'new-action'> </div>
<ul>
    <%= render(:partial => "family_details") %>
    <%= render(:partial => "teaching_records/teaching_record") %>
    <%= render(:partial => "events/family_events") %>
    <div id="updated-action-list">
      <%= render(:partial => "action_items/family_action_items",
                 :locals => {:option_for_more => true}) %>
    </div>
</ul>
<br> <br> <br> 
<br> <br> <br> 
<br> <br> <br>
