<% form_remote_tag :url => {:controller => 'events', :action => 'new_family_event', 
                            :family_id => @family.id } do %>
<h1><%=h @family.name %> Family &nbsp;&nbsp;&nbsp;&nbsp;
  <div style='display:inline' id='shark'> <%= submit_tag "New Event" , {:style => 'padding:1px;',:onclick => "document.getElementById('shark').style.display='none';"} %></div>
</h1>
<% end %>
<div id = 'new-action'> </div>
 
<ul>
  <!-- Family Details -->
  <li> <a href='#' class = 'subtile-links' onclick="Effect.toggle('family-details', 'blind'); return false;">Family Details </a>
    <div id="family-details" style = 'display:none'>
      <div>
        <%= simple_format(@family.head_of_house_hold) %>
        <p>
          <b>Phone:</b>
          <%= simple_format(@family.phone) %>
        </p>

        <p>
          <b>Address:</b><br />
          <%= simple_format(@family.address) %>
        </p>

        <p>
          <b>Status:</b>
          <%=h @family.status %>
        </p>

        <p>
          <b>Information:</b> <br />
            <%= simple_format(@family.information) %>
        </p>
        <br>
      <%= link_to 'Edit family details', edit_family_path(@family) %> 
      <br><br><br>
      </div>
    </div>
  </li>
  <!-- Events -->
  <% unless @family.events().empty? %>
    <li> <a href ='#' class = 'subtile-links' onclick="Effect.toggle('family-events', 'blind');
            return false;">Events </a> 
    <div id='family-events'>
      <div>
        <ul>
        <% @family.events.each do |event| %>
          <li>
            <%=h event.date %> &#151;  
            <!-- TODO I thnk there's a better rails way of doing this -->
            <%=h WardRepresentative.find(event.ward_representative_id).name %> &#151;  
            <%=h event.comment %>
          </li>
        <% end %>
        </ul>

      </div>
    </div>
  </li>
  <% end %>

</ul>

  <br> <br> <br> 
  <br> <br> <br>
  

<% #link_to 'Back', families_path %>
