<h1><%= @family.name %> Family &nbsp;&nbsp;&nbsp;&nbsp; </h1>
  <!-- Family Details -->
    <table style='border:none'>
      <tr>
        <td style='border:none'>
          <%= @family.head_of_house_hold %>
          <ul id='nodot'>
            <li>
              <% @family.people.each do |member| %>
                <% if member.current == true %>
                  <%= member.name -%> 
                  <% if member.email != nil %> 
                    &mdash; <%= member.email %>
                  <% end %>
                  <br>
                <% end %>
              <% end %>
            </li>
          </ul>
        </td>
        <td style='border:none'>&nbsp;&nbsp;&nbsp;</td>
        <td style='border:none'>
          <%= @family.phone %><br>
          <p>
            <%= displayAddress(@family.address) %><br>
          </p>
        </td>
        <td style='border:none'>&nbsp;&nbsp;&nbsp;</td>
        <td style='border:none'> 
          <% @family.teaching_routes.each do |teacher| %>
            Home Teacher: <%= teacher.person.name + " " + teacher.person.family.name %> <br>
          <% end %>
          <% @family.people.each do |member| %>
            <% member.visiting_teachers.each do |vt| %>
              Visiting Teacher: <%= vt.name + " " + vt.family.name %> teaches <%= member.name %> <br />
            <% end %>
          <% end %>
        </td>
      </tr>
    </table>
    <% if @show_events %>
    <%= render(:partial => "teaching_records/teaching_record",
               :object => @family.teaching_record,
               :locals => {:events => @family.events}) %>
               <%= render(:partial => "events/family_events", :locals => {:names => @names}) %>
 
    <% end %>
<br> <br> <br>
<br> <br> <br>
<br> <br> <br>


