<script type="text/javascript">
function showElement(divId) {
  var div = document.getElementById(divId);
  div.style.display = "inline";
}
function hideElement(divId) {
  var div = document.getElementById(divId);
  div.style.display = "none";
}
</script>

<h1><%=h @family.name %> Family &nbsp;&nbsp;&nbsp;&nbsp;
  <div style='display:inline' id='actionButtons' >
    <%= button_to_function("New Event", "showElement('new-event');
                                         hideElement('actionButtons');")%>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     
    <%= button_to_function("New Action Item", "showElement('new-action');
                                               hideElement('actionButtons');")%>
  </div>
</h1>

<div id = 'new-event' style='display:none;'> 
  <%= render(:partial => 'events/new_family_event',
             :locals => {:peopleList => @names,
                         :event => @event,
                         :family => @family}) %>
  <hr>
</div>

<div id = 'new-action' style='display:none;'> 
  <%= render(:partial => 'action_items/new_family_action_item', 
             :locals => {:peopleList => @names,
                         :action_item => @action_item}) %>
  <hr>
</div>

<ul>
    <%= render(:partial => "family_details") %>
    <%= render(:partial => "teaching_records/teaching_record") %>
    <%= render(:partial => "events/family_events") %>
    <div id="updated-action-list">
      <%= render(:partial => "action_items/family_action_items",
                 :locals => {:option_for_more => true}) %>
    </div>
</ul>
<br> <br> <br> 
<br> <br> <br> 
<br> <br> <br>
