<% form_remote_tag :url => {:controller => 'events', :action => 'new_family_event', 
                            :family_id => @family.id } do %>
<h1><%=h @family.name %> Family &nbsp;&nbsp;&nbsp;&nbsp;
  <div style='display:inline' id='shark'> <%= submit_tag "New Event" , {:style => 'padding:1px;',:onclick => "document.getElementById('shark').style.display='none';"} %></div>
</h1>
<% end %>
<div id = 'new-action'> </div>
 
<ul>
  <!-- Family Details -->
  <li> <a href='#' class = 'subtile-links' onclick="Effect.toggle('family-details', 'blind'); return false;">Family Details </a>
    <div id="family-details" style = 'display:none'>
      <div>
        <%= simple_format(@family.head_of_house_hold) %>
        <p>
          <b>Phone:</b>
          <%= simple_format(@family.phone) %>
        </p>

        <p>
          <b>Address:</b><br />
          <%= simple_format(@family.address) %>
        </p>

        <p>
          <b>Status:</b>
          <%=h @family.status %>
        </p>

        <p>
          <b>Information:</b> <br />
            <%= simple_format(@family.information) %>
        </p>
        <br>
      <%= link_to 'Edit family details', edit_family_path(@family) %> 
      <br><br><br>
      </div>
    </div>
  </li>
  <!-- Teaching Record -->
  <% if @family.teaching_record != nil %>
    <li> <a href ='#' class = 'subtile-links' onclick="Effect.toggle('teaching-record', 'blind');
            return false;">Teaching Record </a> 
    <div id="teaching-record" style = 'display:none'>
      <div>
        <ul>
  <b>Category:</b>
  <%=h @family.teaching_record.category %>

  <b>Lessons taught:</b>
  <%=h @family.teaching_record.lessons_taught %>

  <b>Last lesson:</b>
  <%=h @family.teaching_record.last_lesson %>
  <%=h getLastVisitDate(@family.teaching_record.family) %>
  <b>Next lesson:</b>
  <%=h @family.teaching_record.next_lesson %>
  <b>Fellowshipper:</b>
  <%=h @family.teaching_record.person.name %>

  <b>Membership milestone:</b>
  <%=h @family.teaching_record.membership_milestone %>

  <b>Milestone date goal:</b>
  <%=h @family.teaching_record.milestone_date_goal %>
  <br>

<%= link_to 'Edit', edit_teaching_record_path(@family.teaching_record) %> |
<%= link_to 'Back', teaching_records_path %>
        </ul>
      </div>
    </div>
  </li>
  <% end %>

  <!-- Events -->
  <% unless @family.events().empty? %>
    <li> <a href ='#' class = 'subtile-links' onclick="Effect.toggle('family-events', 'blind');
            return false;">Events </a> 
    <div id='family-events'>
      <div>
        <ul>
        <% @family.events.each do |event| %>
          <li>
            <%=h event.date %> &#151;  
            <!-- TODO HACK!! I thnk there's a better rails way of doing this -->
            <% if event.person_id == 1 %>
              <%= "The Hopes" %>
            <% else %>
              <% person = Person.find(event.person_id) %>
              <% if person.name == "Elder and Sister" %>
                <%= person.name + " " + person.family.name %>
              <% else %>
                <%= person.name.split(" ")[0] %>&nbsp;<%= person.family.name %>
              <% end %> 
            <% end %>
            &#151;  
            <%=h event.category %>
            &#151;  
            <%=h event.comment %>
            <%= link_to 'Edit',   :controller => 'events', :action => 'edit', :id=> event %>
            <%= link_to 'Delete', :controller => 'events', :action => 'remove', :id=> event %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </li>
  <% end %>

</ul>

  <br> <br> <br> 
  <br> <br> <br>
  

<% #link_to 'Back', families_path %>
