<h1>Ward Teaching Pool</h1>

<table class = 'sortable resizable'>
  <thead>
  <tr align="left">
    <th>Name**</th>
    <th class='nosort'>Type</th>
    <th class='nosort'>Lessons Taught</th>
    <th>Type**</th>
    <th padding='10px'>Last&nbsp;Visit**</th>
    <th padding='10px'>Next&nbsp;Visit**</th>
    <th class='nosort'>Fellowshipper</th>
    <th class='nosort'></th>
  </tr>
</thead>
<tbody>

<% @families.each do |family| %>
  <tr class="<%=cycle('list-line-odd','list-line-even')%>">
    <td onClick = "window.location.href='<%= family_path(family) %>'" ><%=h family.name %>, <%=h family.head_of_house_hold %></td>
    <td onClick = "window.location.href='<%= family_path(family) %>'" ><%=h family.phone %></td>
    <td onClick = "window.location.href='<%= family_path(family) %>'" ><%=h family.address %></td>
    <td onClick = "window.location.href='<%= family_path(family) %>'" ><%=h family.status %></td>
    <td onClick = "window.location.href='<%= family_path(family) %>'" sorttable_customkey="<%=getLastVisitDateSortable(family)%>"> <%= getLastVisitDate(family) %></td>
    <td onClick = "window.location.href='<%= family_path(family) %>'" ><%= getLastVisitComment(family) %></td>
    <td><%= link_to 'remove', family, :confirm => 'Are you sure?', :method => :removeFromTeachingPool %></td>
  </tr>

<% end %>
</tbody>
</table>

<br />
<br />
<%= link_to 'Add Family', :action => :addToTeachingPool %>

