<h1>Editing user</h1>

<%= form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :person %><br />
    <%= link_to @user.person.full_name, @user.person %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
