<h1>Listing users</h1>

<table class='sorttable'>
  <thead>
    <tr>
      <th>Email Address</th>
      <th>Access Level</th>
      <th>Last Login</th>
      <th>&nbsp;</th>
    </tr>
  </thead>



<% @users.each do |user| %>
  <%  
    access_level = 0
    person = Person.find_by_current_and_email(true, user.name)
    unless person == nil
      calling = Calling.find_by_person_id(person.id) 
    end
    unless calling == nil
      access_level = calling.access_level
    end 
  %>
  <tr>
    <td><%=h user.name %></td>
    <td><%=h access_level %></td>
    <% if user.last_login %>
      <td sorttable_customkey="<%=h user.last_login.strftime('%Y/%m/%d') %>">
        <%= user.last_login %>
      </td>
    <% else %>
      <td><%=h "" %></td>
    <% end %>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>
