<script type="text/javascript">
function showElement(divId) {
  var div = document.getElementById(divId);
  div.style.display = "inline";
}
function hideElement(divId) {
  var div = document.getElementById(divId);
  div.style.display = "none";
}
</script>

<h1> <%= @person.full_name %>
  <div id='actionButtons' > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     
    <%= button_to_function("New Action Item", "showElement('new-action');
                                               hideElement('actionButtons');")%>
  </div>
</h1>

<div id = 'new-action' style='display:none;'> 
  <%= render(:partial => 'action_items/new_action_item', 
             :object => @new_action_item,
             :locals => {:peopleList => @names,
                         :assignee => @person,
                         :redirect => 'ward',
                         :familyList => @families}) %>
  <hr>
</div>

<h3>Assigned Action Items:</h3>

<div id='open-actions'>
  <% if @openActionItems.size > 0 %>
    <%= render(:partial => 'action_items/action_items', 
               :object => @openActionItems, 
               :locals => {:checkbox => true,
                 :ward_representative => false,
                 :family => true,
                 :showRequestor => true,
                 :form_action => "save_personal_action",
                 :editable => true} ) %>
  <% end %>
</div>
<hr>
<br>
<div id='closed-actions'>
  <% if @closedActionItems.size > 0 %>
    <%= render(:partial => 'action_items/action_items', 
               :object => @closedActionItems, 
               :locals => {:checkbox => true,
                 :editable => true,
                 :family => true,
                 :showRequestor => true,
                 :ward_representative => false,
                 :form_action => "save_personal_action",
                 :conditions => "person_id==#{@person.id}"}) %>

  <% end %>
</div>
<br><br><br>
