<% #=================== Set Up ============================  -%>
<% editable ||= true %>
<% hasAccessToEdit =false %>
<% isEditable = "" %>

<% # Can the user edit this action?  -%>
<% if editable and (event.author == session[:user_id] or 
                    event.person_id == session[:user_id]) 
  isEditable = "editable-action"
  hasAccessToEdit = true;
end %>
  
<% #=================== Partial Content ============================  -%>
<div id = "event_<%=event.id%>"> 
  <div id="event_display_<%= event.id %>" class='<%=isEditable%>' >
    <% if hasAccessToEdit %>
      <%= link_to_function event.getEventDisplay, "switch_to_form('event', #{event.id})"%>

    <% else %>
      <%= event.getEventDisplay %>
    <% end %>
  </div>
  <% if hasAccessToEdit %>
    <%= form_tag event_path(event), :method => :put, :id => "event_edit_form_#{event.id}", :class => 'startHidden' do %>
      <p>
        <%= label_tag :date %><br />
        <%= select_date event.date %>
        <%= label_tag "Visiting Person" %>
        <%= select_tag :person_id, options_for_select(names, event.person.id) %> <br />
      </p>
      <p>
      <% if event.family.teaching_record != nil %>
        <%= label_tag :category %>
        <%= select_tag :category, options_for_select(teachingRecordEvents + memberMilestones, event.category) %>
      <% else %>
        <%= label_tag :category %>
        <%= select_tag :category, options_for_select(eventCategories, event.category) %>
      <% end %>
      </p>
      <p>
        <%= label_tag :comment %><br />
        <%= text_area_tag :comment, event.comment, :cols => 75, :rows => 3 %>
      </p>
        <%= submit_tag "Update Event" %>
        <%= link_to_function "Cancel", "switch_back_from_form('event', #{event.id})" %>
    <% end %>
  <% end %>
</div>
