<%
#=================== Set Up ============================
editable ||= true
hasAccessToEdit =false
isEditable = ""

# Can the user edit this action?

if editable and (event.author == session[:user_id] or event.person_id == session[:user_id]) 
  isEditable = "editable-action"
  hasAccessToEdit = true;
end
  
#=================== Partial Content ============================
%>
<div id = "event_<%=event.id%>"> 

  <% # Setup the display %>
  <div id="event_display_<%= event.id %>" class='<%=isEditable%>'>
    <% if hasAccessToEdit %>
      <%= link_to_function event.getEventDisplay, "switch_to_form('event', #{event.id})"%>
    <% else %>
      <%= event.getEventDisplay %>
    <% end %>
  </div>

  <% # Setting up the edit form, if they have access to edit %>
  <% if hasAccessToEdit %>
    <%= form_for event, :method => :put, :html => {:id => "event_edit_form_#{event.id}", :class => 'startHidden'} do |f|%>
      <p>
        <%= f.label :date %><br />
        <%= f.date_select :date %>
        <%= label_tag "Visiting Person" %>
        <%= f.select :person_id, options_for_select(names, event.person.id) %> <br />
      </p>
      <p>
      <% if event.family.teaching_record != nil %>
        <%= label_tag :category %>
        <%= f.select :category, options_for_select(teachingRecordEvents + memberMilestones, event.category) %>
      <% else %>
        <%= label_tag :category %>
        <%= f.select :category, options_for_select(eventCategories, event.category) %>
      <% end %>
      </p>
      <p>
        <%= label_tag :comment %><br />
        <%= f.text_area :comment, :cols => 75, :rows => 3 %>
      </p>
        <%= f.submit "Update Event" %>
        <%= link_to_function "Cancel", "switch_back_from_form('event', #{event.id})" %>
    <% end %>
  <% end %>
</div>
