<li>
  <%=h event.date.strftime("%m/%d") %>&#151;
  <%=h event.category %>&#151;
  <% if event.person %>
    <%=h event.person.name%>&nbsp;
    <% if event.person.family.name == "Hope" %>
      Hopes&#151;
    <% else %>
      <%=h event.person.family.name%>&#151;
    <% end %>
  <% end %>
  <%=h event.comment %>
</li>
