<% #=================== Set Up ============================  -%>
<% editable ||= true %>
<% hasAccessToEdit =false %>
<% isEditable = "" %>

<% # Can the user edit this action?  -%>
<% if editable and (event.author == session[:user_id] or 
                    event.person_id == session[:user_id]) 
  isEditable = "editable-action"
  hasAccessToEdit = true;
end %>

<% # TODO there's got to be a better way -%>
<%  
if event.person 
  wardRep = event.person.full_name + " --"
else
  wardRep = ""
end
%>
  
<% #=================== Partial Content ============================  -%>
<div id = "event_<%=event.id%>"> 
  <div class='<%=isEditable%>' >
    <% if hasAccessToEdit %>
      <%= link_to "#{event.date} -- #{wardRep} 
                          #{event.category} -- #{event.comment}",
          :url => {:controller => 'events', 
          :remote => true,
          :action => 'edit_remotely', 
          :id => event.id } %>

    <% else %>
      <%= event.date %> --
      <%= wardRep %> 
      <%= event.category %> --
      <%= event.comment %>
    <% end %>
  </div>
</div>
