<% form_for(@event,      :url => {:action => 'create_new_family_event'})  do |f| %>
  
  <%= f.error_messages %>

  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
    <%= f.hidden_field :family_id %>
    Visiting
    <%= f.label :person_id %>
    <%= f.select :person_id, Person::ALL, {:selected => session[:user_id]} %> <br />
  </p>
  <p>
    <%= f.label :category %>
    <%= f.select :category, {"Visit" => "Visit", "Lesson" => "Lesson", "Attempt" => "Attempt"} %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment, :cols => 75, :rows => 3%>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

