<% form_for(@event,      :url => {:action => 'create_new_family_event'})  do |f| %>
  
  <%= f.error_messages %>

  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.hidden_field :family_id %>
  </p>
  <p>
    <%= f.label :ward_representative_id %><br />
    <%= f.select :ward_representative_id, Person::ALL, {:selected => session[:user_id]} %>
  </p>
  <p>
    <%= f.label :category %><br />
    <%= f.select :category, {"Visit" => "Visit", "Lesson" => "Lesson", "Attempt" => "Attempt"} %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment, :cols => 125, :rows => 5%>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

