<% peopleList ||= nil %>
<% event ||= nil %>
<% family ||= nil %>

<% form_for(event, :url => {:controller => 'events', 
                            :action     => 'create_new_family_event'})  do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
    <%= f.hidden_field :family_id %>
    Visiting Person
    <%= f.select :person_id, peopleList, {:selected => session[:user_id]} %> <br />
  </p>
  <p>
  <% if family.teaching_record != nil %>
    <%= f.label :category %>
    <%= f.select :category, teachingRecordEvents %>
  <% else %>
    <%= f.label :category %>
    <%= f.select :category, eventCategories %>
  <% end %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment, :cols => 75, :rows => 3%>
  </p>
  <p>
    <%= f.submit 'Create' %>
    &nbsp; &nbsp; 
    <%= link_to 'Cancel', family_path(family) %>
  </p>
<% end %>
