<h1>Editing event</h1>

<% form_for(@event) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :family_id %><br />
    <%= f.text_field :family_id %>
  </p>
  <p>
    <%= f.label :person_id %><br />
    <%= f.select :person_id, WardRepresentative::ALL, 
                 :prompt => "Select Who visited" %>
    
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>
