<h1>Editing event</h1>

<% form_for(@event) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= Family.find(@event.family_id).name %> Family
  </p>
  <p>
    <%= f.label :category %><br />
    <%= f.select :category, teachingRecordEvents %>
  </p>
  <p>
    <%= f.label :person_id %><br />
    <%= f.select :person_id, Person::ALL, 
                 :prompt => "Select Who visited" %>
    
  </p>
  <p>
    <% author = Person.find(@event.author) %>
    <%= "author: " + author.name + " " + author.family.name %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment, :rows=>5 %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
