<h1>Listing events</h1>

<table class = 'sortable resizeable'>
  <thead>
  <tr align='left'>
    <th>Date</th>
    <th>Family</th>
    <th>Ward Representative</th>
    <th>Comment</th>
    <th class='nosort'>&nbsp;</th>
    <th class='nosort'>&nbsp;</th>
    <th class='nosort'>&nbsp;</th>
  </tr>
  </thead>

<% @events.each do |event| %>
  <tr>
    <td><%=h event.date %></td>
    <td><%=h Family.find(event.family_id).name %></td>
    <% if event.person_id == 1 %>
      <td>The Hopes</td>
    <% elsif event.person_id == 2 %>
      <td>The Elders</td>
    <% else %>
      <td><%=h getWardRepresentative(event.person_id) %></td>
    <% end %>
    <td><%=h event.comment %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New event', new_event_path %>
