<p>
  <b>Name:</b>
  <%=h @ward_representative.name %>
</p>

  <b>Email:</b>
  <%=h @ward_representative.email %>
</p>

<p>
  <b>Type:</b>
  <%=h @ward_representative.category %>
</p>


<%= link_to 'Edit', edit_ward_representative_path(@ward_representative) %> |
<%= link_to 'Back', ward_representatives_path %>
