<h1>New teaching_route</h1>

<%= form_for(@teaching_route) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :category %><br />
    <%= f.select :category, [["HP","HP"],["EQ","EQ"],["RS","RS"]] %>
  </p>
  <p>
    <%= f.label :family_id %><br />
    <%= f.select :family_id, Family::ALL %>
  </p>
  <p>
    Home Teacher 1<br />
    <%= f.select :person_id, @names %>
  </p>
  <p>
    Home Teacher 2<br />
    <%= select_tag :otherHomeTeacher, options_for_select(@names) %>
  </p>
  <p>
    <br><br>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', teaching_routes_path %>
