<% checkbox ||= false %>
<% ward_representative ||= false %>
<% family ||=false %>
<% editable ||=true %>
<% form_action ||= "save_family_action" %>
<div id = 'action-item'>
  <% if checkbox %>
    <% form_remote_for (action_item, :url => {:controller => 'action_items', 
                        :action => form_action, :id => action_item} ) do |f| %>
      <%= f.check_box(:status, 
                     {:onclick => "Element.toggle('action-item-edit-#{action_item.id}'); 
                                   Element.toggle('action-item-comment-#{action_item.id}');
                                   return true;"}, 
                    'closed', 'open') %>
      <%= render(:partial => 'action_items/action_details', 
                 :object => action_item,
                 :locals => {:ward_representative => ward_representative,
                             :family => family}) -%>
      <div id ='action-item-edit-<%= action_item.id %>' style='display:none; text-indent: 1.5em'> 
        <%= f.text_area(:comment, :rows=> 1) %>
        <%= f.submit "save" %>
      </div>
    <% end %> <!-- end of the form above -->
  <% else %>  <!-- if 'not' checkbox -->
    <%= render(:partial => 'action_items/action_details', 
               :object => action_item,
               :locals => {:ward_representative => ward_representative,
                           :family => family}) %>
  <% end %>
</div>
