<% #=================== Set Up ============================  -%>
<% ward_representative ||= false %>
<% noLinks ||= false %>
<% family   ||=false %>
<% showRequestor ||=false %>
<% isLate = "" %>
<% isClosed = "open-actions" %>

<% # Is the action late? %>
<% if (action_details.due_date < Date.today and 
       action_details.status == 'open')
       isLate = "late" 
end %>

<% # Is the action completed? %>
<% if action_details.status == 'closed'
  isClosed = "closed-actions" 
end %>

<% #=================== Code Content ============================  -%>

<% if ward_representative %>
  <% if noLinks %>
    <%= "#{action_details.person.full_name}" %> &#151; 
  <% else %>
    <%= link_to "#{action_details.person.full_name}", 
              {:controller =>'users', :action => 'todo', :id => action_details.person.id}, 
              :class=>"subtile-links" %> &#151;
  <% end %>
<% end %> 

<div class = '<%= isClosed %> <%= isLate %>'>
  <% if family and action_details.family%>
    <% if noLinks %>
      <%= "#{action_details.family.head_of_house_hold} #{action_details.family.name}" %> &#151; 
    <% else %>
      <%= link_to "#{action_details.family.head_of_house_hold} #{action_details.family.name}",
        family_path(action_details.family), :class=>"subtile-links" %> &#151;
    <% end %> 
  <% end %> 

  <div>
      <%=h "#{action_details.action} (#{action_details.due_date})" %>
    <% if showRequestor %>
      &ndash; requested by: <%= action_details.author %>
    <% end %>
  </div>
</div> <!-- IsClosed (strike through) isLate (red)-->

<div id = 'action-item-comment-<%= action_details.id %>'> 
  <% if action_details.comment && action_details.comment.size > 0 %>
    &nbsp;&nbsp;(<%=h action_details.comment %>)
  <% end %>
</div> <!-- Action Comment -->

