<% peopleList ||= nil %>
<% familyList ||= nil %>
<% redirect ||= 'family' %>
<fieldset class='teaching-record'>
  <legend> Edit Action Item </legend>
<%= form_for(edit_action_item, :url => {:controller => 'action_items', 
            :action => 'update', :id => edit_action_item.id })  do |f| %>
  <%= f.error_messages %>
  <p>
    <div style='float:left'>
      Ward Representative:<br>
      <%= f.select :person_id, peopleList %>
    </div>
    <div style='float:right'>
      Family:<br>
      <%= f.select :family_id, familyList, {:include_blank => true} %> 
    </div>
  </p>
  <p>
    <br> <br> 
  </p>
  <p>
    Assignment:<br>
    <%= f.text_area :action, :cols => 80, :rows => 1%>
  </p>
  <p>
    Due Date
    <%= f.date_select :due_date, :default => 7.days.from_now %>
  </p>
  <p>
    Other Comments:<br>
    <%= f.text_area :comment, :cols => 60, :rows => 1%>
  </p>
  <p>
    Requested by: <%= Person.find(edit_action_item.issuer_id).full_name %>
  </p>
    
  <p>
    <%= f.submit 'update' %> &nbsp; &nbsp;
    <%= link_to 'Cancel', :back %>
    <% if edit_action_item.issuer_id == session[:user_id] %>
      <%= link_to 'Delete',:controller =>'action_items',
                           :action => 'remove',
                           :id=> edit_action_item %>
    <% end %>
  </p>
<% end %>
</fieldset>
