<% peopleList ||= nil %>
<% familyList ||= nil %>
<% redirect ||= 'family' %>
<% assignee ||= nil %>
<% form_for(@new_action_item, :url => {:controller => 'action_items', 
            :action => 'create', :redirect => redirect})  do |f| %>
  <%= f.error_messages %>
  <p>
    Ward Representative 
    <% if assignee != nil %>
      <%= f.select :person_id, peopleList, {:selected => assignee.id} %> <br />
    <% else %>
      <%= f.select :person_id, peopleList, {:selected => session[:user_id]} %> <br />
    <% end %>
  </p>
  <p>
    For Family 
    <%= f.select :family_id, familyList, {:include_blank => true} %> <br />
    Assignment <br />
    <%= f.text_area :action, :cols => 75, :rows => 1%>
  </p>
  <p>
    Due Date
    <%= f.date_select :due_date, :default => 7.days.from_now %>
  </p>
  <p>
    <%= f.submit 'Create' %>
    &nbsp;
    <%= link_to 'Cancel', :back %>
  </p>
<% end %>
