<h1>Editing action_item</h1>

<% form_for(@action_item) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :family_id %><br />
    <%= f.select :family_id, @familyList, {:include_blank => true} %>
  </p>
  <p>
    Assignee
    <%= f.select :person_id, @personList%>
  </p>
  <p>
    <%= f.label :action %><br />
    <%= f.text_area  :action, :cols=>50, :rows=>2 %>
  </p>
  <p>
    <%= f.label :due_date %><br />
    <%= f.date_select :due_date %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.select :status, {'closed' => 'closed','open' => 'open'} %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment, :cols=>50, :rows=>2 %>
  </p>
  <p>
    <%= f.label :issuer_id %><br />
    <%= Person.find(@action_item.issuer_id).name unless @action_item.issuer_id == nil%>
    <%= Person.find(@action_item.issuer_id).family.name unless @action_item.issuer_id == nil%>
  </p>
  <p>
    <%= f.submit 'Update' %>
    <%= link_to "Cancel", :back %>
  </p>
<% end %>
