<h1>New action_item</h1>

<%= form_for(@action_item) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :family_id %><br />
    <%= f.text_field :family_id %>
  </p>
  <p>
    <%= f.label :person_id %><br />
    <%= f.text_field :person_id %>
  </p>
  <p>
    <%= f.label :action %><br />
    <%= f.text_area :action %>
  </p>
  <p>
    <%= f.label :due_date %><br />
    <%= f.date_select :due_date %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :issuer_id %><br />
    <%= f.text_field :issuer_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', action_items_path %>
