<p>
  <b>Family:</b>
  <%= link_to @action_item.family.full_name, @action_item.family %>
</p>

<p>
  <b>Person Assigned:</b>
  <%=link_to @action_item.person.full_name, @action_item.person %>
</p>

<p>
  <b>Action:</b>
  <%=h @action_item.action %>
</p>

<p>
  <b>Due date:</b>
  <%=h @action_item.due_date %>
</p>

<p>
  <b>Status:</b>
  <%=h @action_item.status %>
</p>

<p>
<b>Issuer:</b>
  <%= link_to @action_item.issuer.full_name, person_path(@action_item.issuer) %>
</p>


<%= link_to 'Edit', edit_action_item_path(@action_item) %> |
<%= link_to 'Back', action_items_path %>
