<script type="text/javascript">
function showElement(divId) {
  var div = document.getElementById(divId);
  div.style.display = "inline";
}
function hideElement(divId) {
  var div = document.getElementById(divId);
  div.style.display = "none";
}
</script>

<h1>Ward Action Items

  <div id='actionButtons' > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     
    <%= button_to_function("New Action Item", "showElement('new-action');
                                               hideElement('actionButtons');")%>
  </div>
</h1>

<div id = 'new-action' style='display:none;'> 
  <%= render(:partial => 'action_items/new_action_item', 
             :object => @new_action_item,
             :locals => {:peopleList => @names,
                         :redirect => 'ward',
                         :familyList => @families}) %>
  <hr>
</div>

<ul>
  <% @person_actions.each do |assignee, tasks| %>
    <li> 
      <div id='open-actions' 
           class = "cell"
           onclick="window.location.href='<%= url_for(:controller => 'users',
                                                      :action => 'todo',
                                                      :id => assignee.id ) %>'" >
        <%= assignee.full_name %>
        <ul>
          <%= render(:partial => "action_items/action_items",
                     :object => tasks,
                     :locals => {:family => true,
                                 :style => "id='square'",
                                 :noLinks => true}
                    ) %>
        </ul>
      </div>
      <br>
    </li>
  <% end %>
</ul>
  <br>
  <div id='closed-actions'>
    <%= render(:partial => 'action_items/action_items', 
               :object => @closed_action_items,
               :locals => {:ward_representative => true,
                       :family => true,
                       :editable => true,
                       :style => "id='square'"}
    
              ) %>
  </div>
<br><br>
