<h1>Ward Profile &mdash; <%= @total %> Families (<%= @totalMembers %> Individuals)</h1>
<p>
  <div class='forceWidth'>
    <div style="background-color:<%= statusColor('active') %>"> 
      <a href="<%= url_for(:controller => 'stats', :action => 'showActive') %>">
        Active &ndash; <%= @active %> <br>
        <%= getPercentage(@active,@total) %>%
      </a>
    </div> 
    <div style="background-color:<%= statusColor('less active') %>">
      <a href="<%= url_for(:controller => 'stats', :action => 'showLessActive') %>">
        Less Active &ndash; <%= @lessActive %>  <br>
        <%= getPercentage(@lessActive,@total) %>%
      </a>
    </div> 
    <div style="background-color:<%= statusColor('Not Interested') %>">
      <a href="<%= url_for(:controller => 'stats', :action => 'showNotInterested') %>">
        Not Interested &ndash; <%=@notInterested %> <br>
        <%= getPercentage(@notInterested,@total) %>%
      </a>
    </div> 
    <div style="background-color:<%= statusColor('dnc') %>">
      <a href="<%= url_for(:controller => 'stats', :action => 'showDNC') %>">
        DNC &ndash; <%=@dnc %><br>
        <%= getPercentage(@dnc,@total) %>%
      </a>
    </div> 
    <div style="background-color:<%= statusColor('Unknown/New') %>">
      <a href="<%= url_for(:controller => 'stats', :action => 'showUnknown') %>">
        Unknown/New &ndash; <%=@unknown %><br>
        <%= getPercentage(@unknown,@total) %>%
      </a>
    </div> 
  </div>
</p>
<br><br>
<br><br>
<h1>Percentage of Families in the Ward who have been visited</h1>
<p>
  <div class='forceWidth'>
    <div> 
      <a href="<%= url_for(:controller => 'stats', :action => 'showThisMonth') %>">
        This Month &ndash; <%= this = familiesVisited(0) %> <br>
        <%= getPercentage(this,@total) %>%
      </a>
    </div>
    <div> 
      <a href="<%= url_for(:controller => 'stats', :action => 'showTwoMonths') %>">
        Last Month &ndash; <%= last = familiesVisited(1) %> <br>
        <%= getPercentage(last,@total) %>%
      </a>
    </div>
    <div> 
      <a href="<%= url_for(:controller => 'stats', :action => 'showThreeMonths') %>">
        Last 3 Months &ndash; <%= month3= familiesVisited(3) %> <br>
        <%= getPercentage(month3,@total) %>%
      </a>
    </div>
    <div> 
      <a href="<%= url_for(:controller => 'stats', :action => 'showSixMonths') %>">
        Last 6 Months &ndash; <%= month6= familiesVisited(6) %> <br>
        <%= getPercentage(month6,@total) %>%
      </a>
    </div>
    <div> 
      <a href="<%= url_for(:controller => 'stats', :action => 'showYear') %>">
        Last Year &ndash; <%= year = familiesVisited(12) %> <br>
        <%= getPercentage(year,@total) %>%
      </a>
    </div>
  </div>
  <br><br><br>
</p>
<hr>
<div id = show_stuff>
  <%= render :partial => "families/list_families", :object => @families %>
</div>
