<h1>Monthly Report - Lessons and Visits <br>
  for both Members and Investigators</h1>
<% @event_months.each do |month, events| %>  
  <% events.sort! { |a,b| a.family.name <=> b.family.name } %>
  <b><a href ='#' class = 'subtile-links' onclick="Effect.toggle('<%= month.to_s %>-events', 'blind'); return false;">
      <%= month.strftime("%b") %></b> &#151; <%=getMonthlyTotal(events)%> Families Visited</a> 
  <ul>
  <div id='<%= month %>-events' style='display:none'>
    <%= render(:partial => "monthlyReport", :object => events) %>
  </div>
  </ul>
<% end %> 
<br> <br> 
<% unless @showAll %>
  <%= link_to "all reports...", {:action => :monthlyReport, :all=> true}%>
<% end %>
