<h1>Monthly Report - Lessons and Visits</h1>
<h3>This shows all visits (Home Teaching or Visiting Teaching) sorted by the Quorum the family is assigned to.</h3>
<% @monthly_info.each do |month_info| %>  
  <h4 onclick="$('#<%= month_info[:month].to_s %>-events').toggle(); return false;" style="cursor: pointer;"> <%= month_info[:month].strftime("%b") %> &#151; <%= month_info[:families_visited_count] %> Families Visited</h4>
  <div id='<%= month_info[:month] %>-events' style='display:none'>
    <div class='report'>
      <table>
          <tr>
            <td>
              <h1>High Priest Families</h1>
              <%= render(:partial => "monthlyDetails", :object => month_info[:hp], :locals => { :names => @names }) %>
            </td>
            <td>
              <h1>Elder Familes</h1>
              <%= render(:partial => "monthlyDetails", :object => month_info[:elders], :locals => { :names => @names }) %>
            </td>
            <td>
              <h1>Visiting Teaching</h1>
              <%= render(:partial => "monthlyDetails", :object => month_info[:vt], :locals => { :names => @names }) %>
            </td>
            <td>
              <h1>Unassigned Families</h1>
              <%= render(:partial => "monthlyDetails", :object => month_info[:unassigned], :locals => { :names => @names }) %>
            </td>
          </tr>
      </table>
    </div>
  </div>
<% end %> 
<br> <br> 
<% if @showLink %>
  <%= link_to "all reports...", {:action => :allReports}%>
<% end %>
