<h1>Monthly Report - Lessons and Visits <br>
  for both Members and Investigators</h1>
<% @event_months.each do |month, events| %>  
  <% events.sort! { |a,b| a.family.name <=> b.family.name } %>
  <h4 onclick="$('#<%= month.to_s %>-events').toggle(); return false;" style="cursor: pointer;"> <%= month.strftime("%b") %> &#151; <%=getMonthlyTotal(events)%> Families Visited</h4>
  <div id='<%= month %>-events' style='display:none'>
    <% visits = events.group_by { |event| event.family_id} %> 
    <% hp,elders,unAssigned = categorizeVisits(visits) %>
    <div class='report'>
      <table>
          <tr>
            <td>
              <h1>High Priest Families</h1>
              <%= render(:partial => "monthlyDetails", :object => hp, :locals => { :names => @names }) %>
            </td>
            <td>
              <h1>Elder Familes</h1>
              <%= render(:partial => "monthlyDetails", :object => elders, :locals => { :names => @names }) %>
            </td>
            <td>
              <h1>Unassigned Families</h1>
              <%= render(:partial => "monthlyDetails", :object => unAssigned, :locals => { :names => @names }) %>
            </td>
          </tr>
      </table>
    </div>
  </div>
<% end %> 
<br> <br> 
<% if @showLink %>
  <%= link_to "all reports...", {:action => :allReports}%>
<% end %>
