<% # TODO why can't I use @week from the controller %>
<% week = Date.parse(params[:date]) %>
<h1>Hope Report &nbsp;&#151;&nbsp;<%= week %>&#151;<%= week.advance(:days => 6) %></h1>
<% @events.sort! { |a,b| a.family.name <=> b.family.name } %>
<b>
  Lessons Taught      <%=getWeeklyTotal(@events,"Lesson")%>&nbsp;&nbsp;&nbsp;&nbsp;
  Visits              <%=getWeeklyTotal(@events,"Visit")%>&nbsp;&nbsp;&nbsp;&nbsp;
  Attempts to Contact <%=getWeeklyTotal(@events,"Attempt")%>&nbsp;&nbsp;&nbsp;&nbsp;
  <br><br>
</b>
<%= render(:partial => "flubber", :object => @events) %>

