<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Thornton Creek Ward Area Book</title>
<!-- START:stylesheet -->
  <%= stylesheet_link_tag "areabook", :media => "all" %><!-- <label id="code.slt"/> -->
  <%= javascript_include_tag "application" %>
<!-- END:stylesheet -->
</head>
<body id="store">
  <div id="banner">
    <!-- <%= image_tag("logo.png") %> -->
    <%= @page_title || "Thornton Creek Ward Area Book" %><!-- <label id="code.depot.e.title"/> -->
  </div>
  <div id="columns">
    <div id="side">
      <br>
      <h1>Menu</h1>
      <p>
        <%= link_to 'Create a new Account',    :controller => 'users/new'  %><br />
      </p>
      <p>
        <%= link_to 'Login',    :controller => 'login'  %><br />
      </p>
      <p>
        <%= link_to 'FAQ', faq_path  %><br />
      </p>
    </div>
    <div id="main">
      <!-- START:flash -->
      <% if flash[:notice] -%>
        <div id="notice"> <%=flash[:notice] %> </div>
      <% end -%>
      <!-- END:flash -->
      <%= yield :layout %><!-- <label id="code.depot.e.include"/> -->
      <footer>
        This is NOT an official site of The Church of Jesus Christ of Latter-day Saints.
      </footer>
    </div>
  </div>
</body>
</html>
