<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Thornton Creek Ward Area Book</title>
<!-- START:stylesheet -->
<%= stylesheet_link_tag "areabook", :media => "all" %>
<%= stylesheet_link_tag "sortable", :media => "all" %>
<!-- <label id="code.slt"/> -->
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "tablekit"%>
<!-- END:stylesheet -->
</head>
<body id="store">
      <!-- START:flash -->
      <!-- END:flash -->
      <%= yield :layout %><!-- <label id="code.depot.e.include"/> -->
</body>
</html>
