<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Burien Ward Area Book</title>
<!-- START:stylesheet -->
<%= stylesheet_link_tag "areabook", :media => "all" %>
<%= stylesheet_link_tag "sortable", :media => "all" %>
<!-- <label id="code.slt"/> -->
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "tablekit"%>
<!-- END:stylesheet -->
</head>
<body id="store">
  <div id="banner">
    <%= @page_title || "Burien Ward Area Book" %>
    <div>
      <%= session[:user_name] %><br>
      <%= link_to "logout", :controller => 'login', :action => 'logout' %> 
    </div>
  </div>
  <div id="columns">
    <div id="side">
      <br> <br> 
      <p>
<% if session[:access_level] >=2 %>
        <%= link_to 'Ward List', :controller => 'families'  %><br />
        <%= link_to 'Other Families', :controller => 'families', :action => 'investigators'  %><br />
        <%= link_to 'Teaching Pool', :controller => 'teaching_records' %><br />
      </p>
      <br><br>
      <p>
        <%= link_to 'Home Teaching', :controller => 'teaching_routes' %><br />
 <% else %>      
        <%= link_to 'Ward List', :controller => 'families', :action => 'members'  %><br />
<% end %>
        <%= link_to 'My Families ', :controller => 'teaching_routes',
                                    :action => 'teacherList', 
                                    :id => session[:user_id]
          %><br />

<% if session[:access_level] >=2 %>
      </p>
      <br> <br> 
      <br> 
      <%= link_to 'Reports', :controller => 'reports', :action => 'month' %><br />
      &nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Hopes', :controller => 'reports', :action => 'hope' %><br />
      &nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Month', :controller => 'reports', :action => 'month' %><br />
      <br><br><br>
      <%= link_to 'Stats', :controller => 'stats' %><br />
<% end %>

<% if Person.find(session[:user_id]).teachingRoutes.size %>
  <br><br><br>
  <% # TODO work out caching %>
  <% link_to 'My Families', :controller => 'reports', :action => 'myFamilies'  %><br />
<% end %>

  </div>
    <div id="main">
      <!-- START:flash -->
      <% if flash[:notice] -%>
        <div id="notice"> <%=flash[:notice] %> </div>
      <% end -%>
      <!-- END:flash -->
      <%= yield :layout %><!-- <label id="code.depot.e.include"/> -->
      </div> <!-- main -->
  </div> <!-- columns -->
</body>
</html>
